<a href="https://colab.research.google.com/github/lebe1/ClimateChangeAI/blob/main/Data-Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
import random
import pandas as pd
import os

Create random seed given by number 100

In [16]:
random.seed(100)
print(random.random())

0.1456692551041303

In [23]:
# Check how many files are stored in the directory
paths = "/home/funny/Documents/Uni/Climate_Change_AI/Project 2/Dataset/A_basins_total_upstrm/2_timeseries/daily"

# Get all the files in the directory
files = os.listdir(paths)

# Check length of files
print(len(files)) # 860

random_list = random.sample(files, 100)

# Check output of random_list
print(random_list)

# Check if the list is unique
print(len(random_list) == len(set(random_list)))

# Check if list has length 100
print(len(random_list) == 100)

860
['ID_306.csv', 'ID_516.csv', 'ID_535.csv', 'ID_436.csv', 'ID_725.csv', 'ID_118.csv', 'ID_736.csv', 'ID_80.csv', 'ID_155.csv', 'ID_599.csv', 'ID_124.csv', 'ID_554.csv', 'ID_452.csv', 'ID_195.csv', 'ID_222.csv', 'ID_437.csv', 'ID_628.csv', 'ID_268.csv', 'ID_234.csv', 'ID_711.csv', 'ID_165.csv', 'ID_332.csv', 'ID_863.csv', 'ID_707.csv', 'ID_716.csv', 'ID_759.csv', 'ID_329.csv', 'ID_766.csv', 'ID_71.csv', 'ID_491.csv', 'ID_826.csv', 'ID_347.csv', 'ID_704.csv', 'ID_484.csv', 'ID_258.csv', 'ID_562.csv', 'ID_364.csv', 'ID_549.csv', 'ID_206.csv', 'ID_524.csv', 'ID_15.csv', 'ID_634.csv', 'ID_728.csv', 'ID_810.csv', 'ID_375.csv', 'ID_7.csv', 'ID_509.csv', 'ID_784.csv', 'ID_11.csv', 'ID_45.csv', 'ID_430.csv', 'ID_276.csv', 'ID_270.csv', 'ID_379.csv', 'ID_859.csv', 'ID_92.csv', 'ID_59.csv', 'ID_749.csv', 'ID_13.csv', 'ID_753.csv', 'ID_350.csv', 'ID_654.csv', 'ID_185.csv', 'ID_28.csv', 'ID_14.csv', 'ID_41.csv', 'ID_293.csv', 'ID_250.csv', 'ID_668.csv', 'ID_27.csv', 'ID_590.csv', 'ID_405.csv', 'ID_260.csv', 'ID_201.csv', 'ID_601.csv', 'ID_175.csv', 'ID_457.csv', 'ID_679.csv', 'ID_812.csv', 'ID_204.csv', 'ID_545.csv', 'ID_827.csv', 'ID_852.csv', 'ID_202.csv', 'ID_871.csv', 'ID_65.csv', 'ID_495.csv', 'ID_698.csv', 'ID_855.csv', 'ID_789.csv', 'ID_790.csv', 'ID_199.csv', 'ID_145.csv', 'ID_73.csv', 'ID_416.csv', 'ID_236.csv', 'ID_639.csv', 'ID_254.csv', 'ID_115.csv', 'ID_560.csv']
True
True

In [24]:
# Load the data from the 100 random generated IDs

# Create a list of the paths to the files
paths = "~/Documents/Uni/Climate_Change_AI/Project 2/Dataset/A_basins_total_upstrm/2_timeseries/daily/"
df_list = []
for file_name in random_list:
    paths += file_name
    df = pd.read_csv(paths, sep=";")
    df_list.append(df)
    paths = "~/Documents/Uni/Climate_Change_AI/Project 2/Dataset/A_basins_total_upstrm/2_timeseries/daily/"


df_list[0].head()

,YYYY,MM,DD,DOY,2m_temp_max,2m_temp_mean,2m_temp_min,2m_dp_temp_max,2m_dp_temp_mean,2m_dp_temp_min,...,swe,surf_net_solar_rad_max,surf_net_solar_rad_mean,surf_net_therm_rad_max,surf_net_therm_rad_mean,surf_press,total_et,prec,volsw_123,volsw_4
0,1981,1,1,1,2.3,-0.4,-3.2,-1.2,-3.9,-6.1,...,104.18,128,20,56,40,92796,0.50,11.08,0.39,0.4
1,1981,1,2,2,0.0,-2.2,-3.9,-2.2,-4.4,-6.4,...,114.68,77,15,42,23,92858,0.28,8.06,0.39,0.4
2,1981,1,3,3,4.5,2.7,0.3,1.4,-0.3,-1.8,...,122.52,139,25,57,22,91661,0.19,13.16,0.39,0.4
3,1981,1,4,4,2.0,0.2,-1.9,1.2,-1.3,-2.9,...,121.29,149,30,71,42,91360,0.37,7.76,0.40,0.4
4,1981,1,5,5,-2.1,-4.2,-6.0,-3.3,-6.6,-8.7,...,130.85,64,15,64,41,91871,0.54,11.33,0.39,0.4

Dataset directory has 882 files. Therefore, create 100 random numbers between 1 and 882

In [29]:
# Check that df_list has length 100
print(len(df_list) == 100)

# Check that all the dataframes have the same length as the first dataframe
for df in df_list:
    if (len(df) == len(df_list[0])):
       continue
    else:
        print("Dataframes do not have the same length")

True